version=pmwiki-2.2.53 ordered=1 urlencoded=1
agent=Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1500.95 Safari/537.36
author=Admin
cauthor=Admin
charset=UTF-8
csum=
ctime=1375357226
host=127.0.0.1
name=System.Config
passwdattr=@admin
passwddelete=@admin
passwdedit=@admin
passwdread=@admin
rev=3
targets=
text=(:messages:)%0a!! 组默认播放器%0a(:input form "?action=UpdateConfig":)%0a(:ConfigureDefaultPlayer:)%0a(:input submit:)%0a(:input end:)
time=1375363610
author:1375363115=Admin
