@charset "utf-8";

form{margin:0px; display:inline} 
.DanmakuBar {
    color: black; 
    background-color: #f7f7f7; 
    border: 1px solid #cccccc; 
    padding: 4px; 
    line-height: 2em;
    display: inline; 
}